<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http#{//mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mtx.metro.mapper.DataMapper">

<!--    //查询所有真实数据-->
<!--    List<Map<String,String>> selectAllTrueData();-->
    <select id="selectAllTrueData" resultType="Map">
        SELECT * FROM TrueData
    </select>

<!--    //查询某时间某站点真实数据-->
<!--    List<Map<String,String>> TrueDataAtTimeStation(@Param("dateTime") String dateTime,@Param("GTFSid") String GTFSid);-->
    <select id="TrueDataAtTimeStation" resultType="Map">
        SELECT GTFS_Stop_ID, dateTime, tEntries, tExits
        FROM TrueData a, Stations b
        WHERE a.id = b.Station_ID
        AND dateTime = #{dateTime}
        AND GTFS_Stop_ID = #{GTFSid}
    </select>

<!--    //查询某站点最新预测数据-->
<!--    List<Map<String,String>> PredictDataAtStation(@Param("GTFSid") String GTFSid);-->
    <select id="PredictDataAtStation" resultType="Map">
        SELECT GTFS_Stop_ID, dateTime, pEntries, pExits
        FROM PredictData a, Stations b
        WHERE a.id = b.Station_ID
        AND GTFS_Stop_ID = #{GTFSid}
    </select>

<!--    //查询时间范围-->
<!--    Map<String,String> getTimeRange();-->
    <select id="getTimeRange" resultType="Map">
        SELECT * FROM timeRange
    </select>

<!--    //查询站点数据：站名，经纬度-->
<!--    Map<String,String> getStationInfo(@Param("GTFSid") String GTFSid);-->
    <select id="getStationInfo" resultType="Map">
        SELECT GTFS_Stop_ID,
            Stop_Name,
            GTFS_Latitude,
            GTFS_Longitude
        FROM Stations
        WHERE GTFS_Stop_ID = #{GTFSid}
    </select>

</mapper>
