<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http#{//mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mtx.metro.mapper.TrueMapper">

    <!--    List<TrueData> selectAll();-->
    <select id="selectAll" resultType="TrueData">
        SELECT * FROM TrueData
    </select>

    <!--    List<TrueData> selectAtATime(@Param("dateTime") Date dateTime);-->
    <select id="selectAtATime" resultType="TrueData">
        SELECT * FROM TrueData
        WHERE dateTime = #{dateTime}
    </select>

    <!--    TimeRange getTimeRange();-->
    <select id="getTimeRange" resultType="com.mtx.metro.domain.TimeRange">
        SELECT * FROM timeRange
    </select>

</mapper>
